@mixin button-link{
    text-decoration: none;
    padding: 0.65em 1.5em;
    font-weight:800;
    text-transform:uppercase;
    border-radius: 0.3em;
    font-size: 0.8rem;
    letter-spacing: 1px;;

}


$light-grey: #d9d9d9;
$dark: #393838;
$hilight-blue: #007bc7;


.Header{
    .navbar-toggler{

        padding: 0.7em 0.8em;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    }
    nav{
        width: 85%;
        margin: 0 auto;
        img{
            width:250px
        }
    }
    #nav-item{
        padding: 1em 0em;
        color: $light-grey;
        border-bottom: 3px solid white;
        &:hover{
            border-bottom: 3px solid $light-grey;
            color: $light-grey;
            
        }
    }
    span, #drop{
        text-transform: uppercase;
        font-size: 0.9rem;
        font-size: $dark;
        letter-spacing: 1.5px;
    

        display: flex;;
        &:hover{
            border: 2px bottom solid red;
        }
        div{
            font-weight: 900;
            color:rgb(60, 60, 60);
        }

        i{
            color: rgba(0, 0, 255, 0.712);
            font-size: 0.9rem;
            padding-right:1em;
        }
        #drop{
            i{
                color: #ff7d01;
                margin-top:10px;
                font-size:0.5rem;
            }
        }
    }
}



.Footer{
    background-color: #3f3f3f;
    color: white;
    text-align: center;
    padding:1em;
    button{
        @include button-link();
        color: white;
        background-color: #ff7d01;
        font-size: 0.8rem;
        &:hover{
            background-color: white;
            color: #ff7d01;
        }
    }
    span{
        color:  #f98a48;
    }

    p{
        line-height: 4px;
        color: white;

    }

    form{
        display: flex;
        flex-direction: column;
        width:250px;
        margin: 0 auto;
        text-align: left;
        line-height: 1em;
        div{
            margin-bottom:1.4em;
        }
        input, button{
            height: 2.7em;
            border-radius: 0.3em;
            border:none;
        }
        p{
            line-height: 1.2em;    
        }

    }


    a{
        text-decoration: none;
        color:#b6b6b6;
        padding: 1em 0;
        font-size: 0.8rem;
        letter-spacing: 1px;
        span{
            color:#f98a48;
            font-size:1rem
        }
    }
}


.footer-links{
    margin-top: 3em 0;
    a{
        padding: 1em;
        padding-top:3em;
        &:hover{
            color:white;
        }
    }


}
.icons{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;

}


.icon1{
    background-color: #b6b6b6;
    color: #3f3f3f;
    width: 35px;
    height:35px;
    display:flex;
    align-items:center;
    justify-content: center;
    border-radius: 50%;
    margin: 1em;
    &:hover{
        background-color:white;
        cursor: pointer;
    }
}

.icon2{
    color: #b6b6b6;
    margin: 1em;
    cursor: pointer;
    &:hover{
        color:white;
    }

}






h1{
    font-size: 1.4rem;
    font-weight: 900;
    letter-spacing: -1px;
    margin-bottom:0;

}

h2{
    font-size: 1.4rem;
    color: $dark;

    font-weight: 800;
    text-align: center;
}

h3{
    color: $hilight-blue;
    font-size: 1.2rem;
    font-weight: 800;
    margin-bottom:0;
}

h4{
    color: $dark;
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
    font-size:0.97em;
    margin:0;
}

h5{
    text-transform: uppercase;
    font-weight: 300;
    color: #b6b6b6;
}

h6{
    text-transform: uppercase;
    font-weight: 300;
    color: #b6b6b6;
    margin-top:1em;
    margin-bottom: 1em;
    font-size:0.9rem;
}

p{
    color: #3f3f3f
}



.introduction{
    text-align: center;
    margin: 3em 1em;

    p{
      font-size: 1.05rem;   
    }
}

.card{
    border: 1px $light-grey solid;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin:1em;
    object-fit: cover;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;;
    p{
        font-size: 1.2rem;
    }
    
    .inner-card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding:2em;

    }
    img{
        
        object-fit: cover;
        height: 270px;
        width: 100%;
    }
    a{
        @include button-link();
        color: #007bc7;
        border: 2.5px #d9d9d9 solid;
    }
    .name{
        p{
            margin:0;
            padding:0;
            font-size: 0.95rem;
        }
    }
    .black{
        h3{
            color:$dark;
        }


    }
    
}


.innovation{
    border: 1px #d9d9d9 solid;
    display: flex;
    align-items: center;
    background-color:#f3f3f3;
    margin:1em;
    padding: 1em 1.5em;

    img{
        width:80px;
        height:80px;
    }
    p{
        padding-left: 1.5em;
    }
}


.news{
    background-color:#d2e2ec;
    padding:0.6em 1.5em;
    padding-top:1.5em;
    margin:1em;

    div{

        div{
            margin: 0.8em 0;
            letter-spacing:1px;
            text-transform: uppercase;
            p{
                margin: 0;
                font-size:0.9rem;
            }
        }
    }
}

.banner{
    display:flex;
    text-align: center;
    flex-direction: column;
    
    img{
        object-fit: cover;
        height: 200px;
        width: 100%;
    }
    p{
        color: white;
        font-size: 1.1rem;
        margin-bottom:1.5em
    }
}

.banner-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #3f3f3f;
    color:white;
    padding: 1em;
    padding-bottom:2.5em;
    div{
        display: inline-block;
    }
    a{  
        @include button-link();

        color: white;
        background-color: #007bc7;

                 
    }
    h1{
        margin:0.5em
    }
    
}

.case-study-section{
    display:flex;
    margin: 1em auto;
    


}


.case-study{
    padding: 4em;
    border: 1px $light-grey solid;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin:1em;
    text-align: center;
    div{
        object-fit: cover;
        max-width: 90%;

    }

    p{
        font-size: 1.3rem;
        max-width: 95%;
        margin:1.5em 0;
        margin-bottom:1em;

    }

    img{
        width: 100%;
        object-fit: cover
    }

    a{  
        @include button-link();
        background-color: white;
        color: #007bc7;
        box-sizing: border-box;
        border: 3px $light-grey solid;
        &:hover{
            color: white;
            background-color: #007bc7;
            border: 3px #007bc7 solid;        }

                 
    }
}

.show-more{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    color: $dark;
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
    font-size:0.97em;
    
    &:hover{
        i{
            color: #ff7d01;

        }

    }

    i{
        color:$hilight-blue;


    }
}



@media(min-width:1050px){
    .App{
        background-color: $light-grey;
        .inner-app{
            margin: 0 2em;
            background-color: white;
            
        }
    }


    .case-study-section2{
        display:none;
    
    }

    .case-study{
        width:100%;

        div{
            object-fit: cover;
            max-width: 400px;
        }
    
        p{
            font-size: 1.7rem;
            max-width: 400px;
            margin:1.5em 0;
            margin-bottom:1em;
    
        }
    
        img{
            width: 100%;
            object-fit: cover
        }
    }

    h2{
        font-size: 2.7rem;
        margin: 0.8em;
    }
    .inner-padding{
        padding:0;
    }
    .introduction{
        text-align: center;
        margin-top: -1.5em;
        h2{
            font-size: 2.7rem;
            margin-bottom:0.7em;
        }
        p{
          font-size: 1.15rem;   
          max-width: 800px;
          margin: 0 auto
        }
        .introduction-paragraph{
            p{
                font-size: 1.6rem;  
            }
            
        }
    }

    .inner-padding{
        padding:4em;
    }

    .banner{
        flex-direction: row-reverse;
        height:600px;
        
        img{
            height:100%;
            width:60%
        }
    }

    .show-more{
        display:none;
    }
    .banner-info{
        width:40%;
        padding:3em 5em;
        h1{
            font-size:2.6rem;
            margin-top:0;
        }
        p{
            font-size:1.6rem
        }
    }
    .innovation{
        flex-direction: column;
        img{
            width: 100%;
            height: auto;
        }
        p{
            padding: 0em;
            padding-top: 0.3em;
            font-size: 1.5rem;
        }
    }
    .innovations{
        display: flex;
       
    }
    .innovation{
        width:25%;
    }



    .card{
        flex-direction: row;
        img{
            width:55%;
            height:100%
        }
    }

    .news-section{
        display: flex
        
        
    }
    .news{
        display:flex;
        width:50%;
        .sections{
            width:50%;
        }
        .news-description{
            padding:0.6em;
            
        }
        h3{
            font-size: 1.6rem;
        }


    }




    .Footer{
        padding: 3em 7em;
        padding-top: 2em;;
        text-align: left;
    }
    .locations{
        display: flex;
        div{
            margin-right:8.5em;
        }
    }
    .main-footer{
        display:flex;
        justify-content: space-between;
    }
    .lower-footer{
        margin-top: 1.3em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        a{
            margin-right:0.7em;
        }
    }
}

@media(max-width:1050px){
     .case-study-section{
        display:none;
    }
}

